
// declare some public scss variables

// rem 单位换算：定为 75px 只是方便运算，750px-75px、640-64px、1080px-108px，如此类推
$vw_fontsize: 75; // iPhone 6尺寸的根元素大小基准值

@function rem($px) {
    @return ($px / $vw_fontsize) * 1rem;
}

// 根元素大小使用 vw 单位
$vw_design: 750;

$themeColor: #f00;